.calendar {
  inline-size: 21.875rem;
  min-block-size: 15rem;
  display: flex;
  flex-direction: column;

  .header {
    display: grid;
    grid-template-columns: 2.75rem 1fr 2.75rem;
    block-size: 2.75rem;
    margin-block-end: 1rem;

    .currentMonth {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .selectMonth {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-default);

      &:disabled{
        pointer-events: none;
      }
      
      &:hover{
        background-color: var(--color-hover); 
      }
    }
  }

  .month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .day {
    inline-size: 3.125rem;
    block-size: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-default);
    transition: all .1s ease-in-out;

    &:hover{
      background-color: var(--color-hover); 
    }
    
    &.muted {
      background-color: var(--color-default); 
      color: var(--color-muted); 
    }

    &:disabled {
      background-color: var(--color-default); 
      color: var(--color-muted); 
      cursor: not-allowed;
    }

    &.highlight{
      background-color: var(--color-highlight); 
    }

    &.selected{
      background-color: var(--color-selected); 
      color: var(--color-default);
    }
    
    &.selected:hover, &.highlight:hover{
      filter: brightness(0.9);
    }
  }
}
