@import './normalize.css';
@layer reset, variables;

@layer reset{
  *{
    box-sizing: border-box;
  }
}

@layer variables{
  :root {
    --color-default: white;
    --color-highlight: #ffff76;
    --color-hover: #e6e6e6;
    --color-active: #006edc;  
    --color-faded: #757575; 
  }
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  Font-size: 16px;
}